{% extends 'base.html'%}

{% block fimports %}
<!-- import icon and css styles for navbar -->
<link rel="icon" href={{ url_for('static', filename='Logo.png')}} type="png" />
<link rel="stylesheet" href={{ url_for('static', filename='stylesNavbar.css')}} />
<script src={{ url_for('static', filename='navbarScript.js')}}></script>
{% endblock %} 

{% block fcontents %}
<!-- add navbar -->
<div class="navbar">
  <div class="navbox" id="logo">
    <img src={{ url_for('static', filename='Logo.png')}} alt="P-Clever Logo" class="logo" />
    <h2 class="navtext">P-Clever</h2>
  </div>
  <div class="navlinks">
    <div class="navbox" id="menu-button">
      <p class="navtext" id="button-text">Menu</p>
    </div>
    <div class="navbox" id="about-me-link">
      <p class="navtext">About Me</p>
    </div>
    <div class="navbox" id="projects-link">
      <p class="navtext">Projects</p>
    </div>
    <div class="navbox" id="contact-link">
      <p class="navtext">Contact</p>
    </div>
  </div>
</div>
{% endblock %}
