{% extends 'baseUser.html'%}

{% block title %} P-Clever Portfolio {% endblock %}

{% block imports %}
<link rel="stylesheet" href="../static/stylesIndex.css">
<link rel="stylesheet" href="../static/stylesProjectCards.css" />
<script src="../static/indexScript.js"></script>
{% endblock %}

{% block contents %}
<div class="scrollableContent">
    <div class="titleBox">
        <h2>Hi,</h2>
        <h1>I am <span class="importent">Marco</span></h1>
    </div>
    <div class="floatingText">
        <p id="p1">I write code</p>
        <p id="p2">I do art</p>
        <p id="p3">I create</p>
    </div>
    <div class="flexBox">
        <div class="buttonDiv">
            <button class="bigButton" id="knowMeButton">Tell Me More</button>
        </div>
        <div class="buttonDiv">
        <button class="bigButton" id="showProjectsButton">Show Projects</button>
        </div>
    </div>
    <div class="flexBox">
        {% if latest %}
        <div class="contentBox">
            <h2>Latest</h2>
            <div class="project-card" id="latest">
                <img class="project-img" src={{ url_for('api_bp.getImage', img_id=latest.image) }}>
                <div class="project-text">
                    <h2>{{ latest.name }}</h2>
                    <p>{{ latest.description }}</p>
                </div>
                <p id="latest_id" style="display:none">{{ latest.id }}</p>
            </div>
        </div>
        {% endif %}
        {% if popular %}
        <div class="contentBox">
            <h2>Popular</h2>
            <div class="project-card" id="popular">
                <img class="project-img" src={{ url_for('api_bp.getImage', img_id=popular.image) }}>
                <div class="project-text">
                    <h2>{{ popular.name }}</h2>
                    <p>{{ popular.description }}</p>
                </div>
                <p id="popular_id" style="display:none">{{ popular.id }}</p>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="contentBox">
        <iframe src="https://embed.acast.com/63b5a13408aab5001135d7c1" frameBorder="0" allow="autoplay" width="100%" height="110"></iframe>
    </div>
    <div class="contentBox">
        <iframe src="https://embed.acast.com/63b5a13408aab5001135d7c1" frameBorder="0" allow="autoplay" width="100%" height="110"></iframe>
    </div>
    <div class="contentBox">
        <iframe src="https://embed.acast.com/63b5a13408aab5001135d7c1" frameBorder="0" allow="autoplay" width="100%" height="110"></iframe>
    </div>
</div>
{% endblock %}