{% extends 'baseUser.html'%}

{% block title %} P-Clever Portfolio {% endblock %}

{% block imports %}
<link rel="stylesheet" href="../static/stylesIndex.css">
<script src="../static/indexScript.js"></script>
{% endblock %}

{% block contents %}
<div class="scrollableContent">
    <div class="titleBox">
        <h2>Hi,</h2>
        <h1>I am <span class="importent">Marco</span></h1>
    </div>
    <div class="floatingText">
        <p id="p1">I write code</p>
        <p id="p2">I do art</p>
        <p id="p3">I create</p>
    </div>
    <div class="flexBox">
        <div class="buttonDiv">
            <button class="bigButton" id="knowMeButton">Tell Me More</button>
        </div>
        <div class="buttonDiv">
        <button class="bigButton" id="showProjectsButton">Show Projects</button>
        </div>
    </div>
    <div class="flexBox"> 
        <div class="contentBox">
            <h2>Latest</h2>
            <iframe src="https://embed.acast.com/63b5a13408aab5001135d7c1" frameBorder="0" allow="autoplay" width="100%" height="110"></iframe>
        </div>
        <div class="contentBox">
            <h2>Popular</h2>
            <iframe src="https://embed.acast.com/63b5a13408aab5001135d7c1" frameBorder="0" allow="autoplay" width="100%" height="110"></iframe>
        </div>
    </div>
    <div class="contentBox">
        <iframe src="https://embed.acast.com/63b5a13408aab5001135d7c1" frameBorder="0" allow="autoplay" width="100%" height="110"></iframe>
    </div>
    <div class="contentBox">
        <iframe src="https://embed.acast.com/63b5a13408aab5001135d7c1" frameBorder="0" allow="autoplay" width="100%" height="110"></iframe>
    </div>
    <div class="contentBox">
        <iframe src="https://embed.acast.com/63b5a13408aab5001135d7c1" frameBorder="0" allow="autoplay" width="100%" height="110"></iframe>
    </div>
</div>
{% endblock %}