<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <script src="../static/landingPageScript.js"></script>
    <style src="../static/styles.css"></style>
  </head>
  <body>
    <div class="navbar">
      <div><p class="nav">About Me</p></div>
      <div><p class="nav">Projects</p></div>
      <div><p class="nav">Contact</p></div>
    </div>
    <p>Hello World</p>
  </body>
</html>
