{% extends 'baseUser.html'%}

{% block title %} P-Clever's Projects {% endblock %}

{% block imports %}
<link rel="stylesheet" href="../static/stylesProjects.css" />
<link rel="stylesheet" href="../static/stylesProjectCards.css" />
<script>
    document.addEventListener("DOMContentLoaded", function () {
        Array.from(document.getElementsByClassName("projectDiv")).forEach((div) => {
            console.log("ha");
            div.addEventListener('click', (event) => {
                const clickedDiv = event.currentTarget;
                if (clickedDiv.querySelector('.projectID')) {
                    window.location.assign('Projects/'+clickedDiv.querySelector('.projectID').innerText);
                } else {
                    console.error('Title element not found');
                }
            });
        });
    });
</script>
{% endblock %}

{% block contents %}
<div class="scrollableContent">
    <div class="nav-distance"></div>
    {% if projects != None %}
        {% for project in projects %}
        <div class="projectDiv">
            <div class="project-card">
                <img class="project-img" src={{ url_for('api_bp.getImage', img_id=project.image) }}>
                <div class="project-text">
                    <h2>{{ project.name }}</h2>
                    <p>{{ project.description }}</p>
                </div>
                <p class="project_id" style="display:none">{{ project.id }}</p>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
