.controlbar {
    width: 100%;
    display: flex;
    margin-top: 100px;
}

button {
    height: fit-content;
    width: fit-content;
    padding: 3vh;
    border-radius: 30px;
    font-size: larger;
}

button:hover {
    cursor: pointer;
}

#newProject {
    width: 40%;
    display: none;
    color: white;
    margin-left: 20px;
}

.form-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#newProject form {
    display: flex;
    flex-direction: column;
}

#newProject input {
    width: 60%;
}

#newProject input.sub_btn {
    height: fit-content;
    width: fit-content;
    padding: 3vh;
    border-radius: 30px;
    font-size: larger;
}

#deleteProject {
    display: none;
    color: white;
}

.scrollableContent {
    width: 100vw;
    height: 100vh;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.projectSlot {
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: rgba(0,0,0, 0.8);
    border-radius: 30px;
    padding: 2vh;
}

.editDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 30px;
}

.editDiv button {
    padding: unset;
    height: 4vw;
    width: 10vw;
    font-family: Inter;
    font-size: 1.5vw;
}

.projcetDiv {
    flex: 3;
}