.navbar {
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    rgba(10, 10, 10, 0.9) 0%,
    rgba(10, 10, 10, 0.4) 60%,
    rgba(10, 10, 10, 0)
  );
}

.navtext {
  position: relative;
  z-index: 100;
  color: #d2d2d2;
  font-family: Arial, Helvetica, sans-serif;
}

h2.navtext {
  margin: 1rem;
  font-size: x-large;
  
}

.navbox {
  z-index: 100;
  margin: 20px;
  margin-top: 5px;
  display: flex;
}

.navbox:hover {
  cursor: pointer;
}

.navbox:hover p {
  transition: transform 0.5s ease, color 0.5s ease;
  transform: translateY(5px);
  color: #ffff;
}
.navbox:hover h2 {
  transition: transform 0.5s ease, color 0.5s ease;
  transform: translateY(5px);
  color: #ffff;
}


.navbox:hover img {
  transition: transform 0.5s ease;
  transform: translateY(5px);
}

.navlinks {
  display: flex;
  margin-right: 40px;
}

.logo {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

#menu-button {
  display: none;
}

@media screen and (max-width: 660px) {
  #menu-button {
    display: flex;
  }

  .navlinks {
    margin-right: 15px;
  }

  .navtext {
    width: auto;
  }

  .navlinks .navbox {
    display: none;
  }

  .navtext {
    background-color: black;
    border-radius: 30%;
    box-shadow: 0 0 10px 5px black;
    text-align: center;
  }

  .navlinks.active {
    display: block;
  }

  .navlinks.active .navbox {
    display: block;
  }
}