.scrollableContent {
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
    overflow-y: scroll;
    width: 99vw;
    height: 100vh;
    position: fixed;
}

.titleBox {
    top:100px;
    position: relative; 
    margin-left: 5vw;
    margin-top: 15vh;
    margin-bottom: 18vh;
    border-radius: 30px;
    width: 80vw;
}

.floatingText {
    margin-left: 7vw;
    margin-top: 30vh;
}

.floatingText p {
    color: #d2d2d2;
    font-family: Source Code Pro;
    font-size: 5vw;
    font-weight: 400;
    text-decoration: underline;
    background-color:rgba(0,0,0, 0.6);
    box-shadow: 0 0 10px 10px rgba(0,0,0, 0.8);
    width: fit-content;
}

#p1 {
    animation: slideInFromLeft 2s ease forwards;
}

#p2 {
    animation: slideInFromLeft 2.5s ease forwards;
}

#p3 {
    animation: slideInFromLeft 3s ease forwards;
}

.flexBox {
    display: flex;
    width: 88%;
}

.flexBox > * {
    flex: 1;
    padding: 0.5rem;
}

.bigButton {
    border-radius: 30px;
    width: 30vw;
    height: 50px;
    font: 300;
    font-size: 30px;
    font-weight: 600;
    font-family: Helvetica;
    background-color:rgba(0,0,0, 0.6);
    color:#d2d2d2;
    border: hidden;
}

.bigButton:hover {
    background-color: #7f51c7;
    cursor: pointer;
}

.buttonDiv {
    margin-top: 20vh;
    margin-left: 5vw;
    margin-bottom: 10vh;
    border-radius: 30px;
}

h2 {
    font-size: 40px;
    font-family: Helvetica;
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 0.5vh;
    color: #d2d2d2
}

.flexBox > div:hover > h2 {
    color: #ffff
}

.contentBox {
    top:100px;
    position: relative;
    background: rgba(0, 0, 0, 0.40);
    margin-left: 5vw;
    margin-bottom: 10vh;
    border-radius: 30px;
    width: 80vw;
    padding: 1rem;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.titleBox > h1 {
    font-family: Inter;
    color: #ffff;
    font-size: 10vw;
    margin: 0;
    margin-left: 1rem;
    animation: slideInFromLeft 1s ease forwards;
}

.titleBox > h2 {
    font-family: Inter;
    color: #ffff;
    font-size: 10vw;
    margin: 0;
    margin-left: 1rem;
    animation: slideInFromLeft 0.8s ease forwards;
}

.importent {
    color: #7f51c7;
}

@media screen and (max-width: 768px) {

    .flexBox {
        display: block;
    }

    .buttonDiv {
        margin-left: 22vw;
    }

    .bigButton {
        width: 50vw;
    }
}