.line {
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
}

.contactBox {
    color: #d2d2d2;
    background: none;
    margin-top:20vh;
    margin-left:5vw;
    margin-right:10vw;
    overflow: hidden;
    border-radius: 30px;
}

.contactBox > h1 {
    color: #7f51c7;
    font-size: 8vw;
    margin: 20px;
}

.line > h2 {
    font-size: 4vw;
    margin: 0;
}

.line > p {
    font-size: 3vw;
    margin: 0;
    margin-bottom: 5vh;
    width: fit-content;
    background-color: rgba(0,0,0,0.5);
}